<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
  </configSections>
  <appSettings/>
  <system.web>
    <httpRuntime maxRequestLength="2147483647" executionTimeout="1200"/>
    <compilation debug="true" targetFramework="4.0"/>
  </system.web>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_ServiceContract" closeTimeout="23:10:00" openTimeout="23:10:00" receiveTimeout="23:10:00" sendTimeout="23:10:00" maxReceivedMessageSize="2147483647" maxBufferPoolSize="2147483647" maxBufferSize="2147483647" transferMode="Streamed">
          <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647"/>
          <security mode="None"/>
        </binding>
      </basicHttpBinding>
      <wsHttpBinding>
        <binding name="WsHttpBinding_ServiceContract" closeTimeout="23:10:00" openTimeout="23:10:00" receiveTimeout="23:10:00" sendTimeout="23:10:00" maxReceivedMessageSize="2147483647" maxBufferPoolSize="2147483647">
          <security mode="None"/>
          <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647"/>
        </binding>
      </wsHttpBinding>
      <netTcpBinding>
        <binding name="netTcpBinding_ServiceContract" closeTimeout="23:10:00" openTimeout="23:10:00" receiveTimeout="23:10:00" sendTimeout="23:10:00" maxReceivedMessageSize="2147483647" maxBufferPoolSize="2147483647">
          <security mode="None"/>
          <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647"/>
        </binding>
      </netTcpBinding>
      <customBinding>
        <binding name="BinaryHttpBinding_ServiceContract"  closeTimeout="23:10:00" openTimeout="23:10:00" receiveTimeout="23:10:00" sendTimeout="23:10:00" >
          <binaryMessageEncoding  maxReadPoolSize="2147483647" maxWritePoolSize="2147483647" maxSessionSize="2147483647" ><readerQuotas maxStringContentLength="2147483647"/></binaryMessageEncoding>
          <httpTransport maxReceivedMessageSize="2147483647" maxBufferPoolSize="2147483647"/>
        </binding>
      </customBinding>
    </bindings>
    <services>
      <service behaviorConfiguration="namespace.nombre_Behavior" name="nombre_Service">
        <endpoint address="ws" binding="wsHttpBinding" name="wsEndpoint" bindingConfiguration="WsHttpBinding_ServiceContract" bindingNamespace="http://servidor.Model/2013/Services" contract="namespace.ServiceContracts.IServiceContract"/>
        <endpoint address="" binding="basicHttpBinding" name="basicEndpoint" bindingConfiguration="BasicHttpBinding_ServiceContract" bindingNamespace="http://servidor.Model/2013/Services" contract="namespace.ServiceContracts.IServiceContract"/>
        <endpoint address="bin" binding="customBinding" name="BinaryEndpoint" bindingConfiguration="BinaryHttpBinding_ServiceContract" bindingNamespace="http://servidor.Model/2013/Services" contract="namespace.ServiceContracts.IServiceContract"/>
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="namespace.nombre_Behavior">
          <serviceDebug includeExceptionDetailInFaults="True" httpHelpPageEnabled="True"/>
          <serviceMetadata httpGetEnabled="true"/>
          <dataContractSerializer maxItemsInObjectGraph="2147483647"/>
        </behavior>
        <behavior name="ServiceViewEventBehavior">
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
  </system.webServer>
  <log4net>
    <appender name="RollingFile" type="log4net.Appender.RollingFileAppender">
      <file value="\\servidor\carpeta\ServicioWeb.log"/>
      <appendToFile value="true"/>
      <maxSizeRollBackups value="30"/>
      <rollingStyle value="Date"/>
      <datePattern value=".bak.yyyyMMdd.lo\g"/>
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock"/>
      <layout type="log4net.Layout.PatternLayout">
        <!-- For more information on conversionPattern, visit http://logging.apache.org/log4net/release/sdk/log4net.Layout.PatternLayout.html -->
        <!--<conversionPattern value="%level [%date{yy-MM-dd HH:mm:ss}] - %message%newline%newline"/>-->
        <conversionPattern value="%level [%date{yy-MM-dd HH:mm:ss}] - %message%newline"/>
      </layout>
    </appender>
    <appender name="SmtpAppender" type="log4net.Appender.SmtpAppender">
      <to value="correo@servidor.com"/>
      <from value="noreply@servidor.com"/>
      <subject value="asunto"/>
      <smtpHost value="servidor smtp"/>
      <bufferSize value="1024"/>
      <lossy value="true"/>
      <evaluator type="log4net.Core.LevelEvaluator">
        <threshold value="ERROR"/>
      </evaluator>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %logger %message"/>
      </layout>
    </appender>
    <root>
      <level value="DEBUG"/>
      <appender-ref ref="RollingFile"/>
      <appender-ref ref="SmtpAppender"/>
    </root>
  </log4net>
</configuration>